<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Google Apps for your domain (optional)</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>custom_domain</string>
		<key>Title</key>
		<string>Your domain</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>60</real>
		<key>Key</key>
		<string>update</string>
		<key>MaximumValue</key>
		<real>120</real>
		<key>MinimumValue</key>
		<real>1</real>
		<key>Secure</key>
		<false/>
		<key>Title</key>
		<string>Update interval</string>
		<key>Titles</key>
		<array>
			<string>15 seconds</string>
			<string>30 seconds</string>
			<string>1 minute</string>
			<string>5 minutes</string>
			<string>10 minutes</string>
			<string>15 minutes</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<real>15</real>
			<real>30</real>
			<real>60</real>
			<real>300</real>
			<real>600</real>
			<real>900</real>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>check_all</string>
		<key>Title</key>
		<string>Check all folders for unread mail</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
